<ng-container style="position: relative">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ "abc" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="pill-audio" id="recordSymbol"></div>

  <div class="stop-recording coordinate" id="stopRecordSymbol">
      <ion-icon name="close"></ion-icon>
  </div>

  <ion-content>
    <ion-list>
      <ion-virtual-scroll [items]="attachedFiles" [approxItemHeight]="72">
        <ion-item *virtualItem="let attachedFile" button (click)="previewFile(attachedFile)">
          <ion-thumbnail slot="start">
            <ion-img
              src="https://upload.wikimedia.org/wikipedia/commons/0/06/Kitten_in_Rizal_Park%2C_Manila.jpg"
            ></ion-img>
          </ion-thumbnail>

          <ion-label>
            <h3>{{ attachedFile.name }}</h3>
            <p>{{ attachedFile.type }}</p>
          </ion-label>
          <ion-label slot="end">
            <p>{{ attachedFile.size }}</p>
          </ion-label>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button (click)="captureVideo()">
            <ion-icon name="videocam"></ion-icon>
          </ion-tab-button>

          <input #file type="file" (change)="attachFile($event.target.files)" multiple style="display: none"/>
          <ion-tab-button (click)="file.click()">
            <ion-icon name="document"></ion-icon>
          </ion-tab-button>

          <ion-tab-button (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
          </ion-tab-button>

          <ion-tab-button id="recordBtn">
            <ion-icon name="mic"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
</ng-container>
